*{
    
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
:root{
    --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

body{
    background-image: url(/img/fondogris.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  


}

 /*header*/
 header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    padding: 40px 0px;
    background-color: rgb(176, 0, 0);
 }
.logo {
    width:260px ;
}

header .busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.form-group{
   border: solid 1px rgba(76, 6, 6, 0.459);
   background-color:  rgba(76, 6, 6, 0.248);;
   padding: 3px;
   border-radius:4px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buscador{
    padding: 3px;
    border-radius:4px ;
}
.fa-magnifying-glass{
    font-size: 14px;
    padding: 3px;
}
.btn-search{
    border: solid 1px rgba(76, 6, 6, 0.459);
    background-color:  rgba(76, 6, 6, 0.248);;
    padding: 3px;
    border-radius:4px ;
    margin: 5px 0px 5px 0px;
    
}

.container-filter{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 25px;
    max-width: 1200px;
   
  
    
    
    
   
}
.icon-filter{
   display: flex;
   align-items: center;
   gap:  15px;
   margin-bottom: 20px;
   cursor: pointer;
}
.fa-filter{
    font-size: 10px;
    padding: 3px;
    color: #555
}


/*cards*/
.card-list-pokemon{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
   
}
.card-pokemon{
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
    border: solid rgba(80, 80, 80, 0.279) 2px;
    border-radius: 5px;
   box-shadow: 11px 10px 9px 3px rgb(91, 91, 91);
   
}
.card-pokemon:hover{
    transform: scale(1.1);
}
.card-img{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height:250px ;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #333;
    background-image: url(/img/fondo-card.jpeg);
}
.pokemon.id{
    display: block;
    color: #888;
    margin-bottom: 15px;
}
.card-types{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.card-types span{
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}
/*tipos de pokemon*/

.grass{
    background-color: var(--color-grass);
}
.fire{
    background-color: var(--color-fire);
}
.water{
    background-color: var(--color-water);
}
.bug{
    background-color: var(--color-bug);
}
.poison {
	background-color: var(--color-poison);
}
.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

/* Container Filters */
.container-filters{
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    overflow: scroll;
    color: #555;
    background-color: #f2f2f2;
    height: 100%;
    padding-top: 40px;
    transition: all .3s linear;

}

.container-filters.active{
    left: 0;
}

.filter-by-type{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.filter-by-type span{
    font-weight: 700;
    font-size: 22px;
}

.group-type{
    display: flex;
    gap: 10px;

    margin-left: 15px ;
}

.group-type label{
    cursor: pointer;
}
/* 
======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.main-pokemon{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.header-main-pokemon{
    margin-top: 20px;

    display: flex;
    align-items: center;

    position: relative;
}

.number-pokemon{
    position: absolute;
    top: -70px;
    left: 0;

    font-size: 300px;
    font-weight: 700;
    color: var(--color-primary-hover);
}

.container-img-pokemon{
    order: 2;
    flex: 1;
    padding: 25px 25px 25px 0;
}

.container-img-pokemon img{
    width: 100%;
}

.container-info-pokemon{
    display: flex;
    flex-direction: column;

    order: 1;
    flex: 1;
}

.container-info-pokemon h1{
    text-align: right;
    font-size: 50px;


}

.info-pokemon{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.group-info p{
    font-weight: 700;
}

/* Stats */
.container-stats{
    display: flex;
    gap: 50px;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.stat-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-group span{
    flex: 20%;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 10px;
}




@media (min-width: 430px){
    
    .card-list-pokemon{
      flex-direction: row;
      flex-wrap: wrap;
    }
    .container{
        flex-direction: row;
    }
}